<td><%= link_to t('.show'), admin_subject_path(subject.id) %></td>
<td><%= link_to t('.edit'), edit_admin_subject_path(subject.id) %></td>
<td><%= link_to t('.delete'), admin_subject_path(subject.id), method: :delete, data: { confirm: t('.are_you_sure') } %></td>