  <tr>
    <td><%= teacher.first_name %></td>
    <td><%= teacher.email %></td>
    <td><%= teacher.created_at.strftime("%B %d, %Y") %></td>
    <%= render partial: 'admin/teachers/actions', locals: {teacher: teacher} %>
  </tr>

