<h1 class="text-center">Subjects</h1>
<div class="container">
  <table class="table table-striped text-center">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Time</th>
      <th colspan=3 scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render 'subject' %>
    </tbody>
  </table>
  <hr>
</div>

<%= link_to 'Add New Subject', new_subject_path, class: "btn btn-primary" %>