<table class="table table-striped text-center">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Grades</th>
  </tr>
  </thead>

  <tbody>
  <% @grades.each do |grade| %>
    <tr>
      <td><%= grade.grade_group %></td>
    </tr>
  <% end %>
  </tbody>
</table>
