<table>
  <thead class="thead-dark">
    <tr>
      Grades
    </tr>
  </thead>
  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= link_to grade.grade_group, journal_path(id: grade.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
