<div class="form-group col">
  <div class="form-group justify-content-md-center">
    <p class="form-group offset-3 col-6"><%= t('.hello')%> <%= @resource.email %>!</p>
    <p class="form-group offset-3 col-6"><%= t('.we_are_contacting_you')%></p>
  </div>
</div>
