<div class="form-group col">
  <div class="form-group justify-content-md-center offset-3 col-6">
    <p><%= t('.hello')%> <%= @resource.email %>!</p>
    <p><%= t('.we_are_contacting_you')%></p>
  </div>
</div>
